/* All Page Sections */

main {
  height: 90vh;
  position: relative;
}

body {
  background-image: url("./img/tokyo-luv-tnzzbvW9Rps-unsplash.jpg");
  background-size: cover;
  background-position: fill;
  background-repeat: no-repeat;
}

header {
  height: 10vh;
  background-color: #34495e77;
  display: table;
  width: 100%;
}

/* Navigation Container Settings */

.nav-link-container {
  display: table;
  float: right;
  height: 10vh;
  margin-right: 60px;
}

.nav-link {
  display: table-cell;
  vertical-align: middle;
  text-decoration: none;
  color: white;
  text-shadow: 2px 2px 2px black;
  padding: 20px;
}

a {
  transition: all 0.15s ease-in;
}

a:hover {
  transform: translate(-2px, -4px);
  text-shadow: 5px 5px 5px purple;
}

.nav-link:not(:last-child) {
  margin-right: 10px;
}

.name {
  color: rgb(255, 255, 255);
  display: table-cell;
  vertical-align: middle;
  padding-left: 120px;
  background-color: rgb(43, 216, 216);
}

.name,
.nav-link {
  letter-spacing: 2px;
}

/* Container Settings */

.card-header {
  height: 5%;
  width: 100%;
  background-color: rgba(87, 22, 87, 0.4);
  border-radius: 15px;
}

.card-header-text {
  display: table-cell;
  color: white;
  vertical-align: middle;
  text-align: middle;
  padding: 20px;
}

.card-text {
  padding: 15px;
  font-size: 20px;
}

.container {
  position: absolute;
  width: 900px;
  padding: 25px;
  background-color: rgba(255, 255, 255, 0.233);
  color: white;
  text-shadow: 2px 2px 2px black;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.507);
}

/* About Page */

#selfie {
  width: 200px;
  height: 200px;
  margin: 15px 15px 15px 15px;
  float: left;
}

/* Porfolio Page Images */

.projects {
  display: inline-block;
  margin: 10px;
  position: relative;
}

.subtitle {
  position: absolute;
  height: 5vh;
  background-color: rgb(129, 41, 129);
  width: 100%;
  display: table;
  margin-bottom: 20px;
  transform: translateY(-108%);
}

.subtitle h3 {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.container img {
  width: 200px;
  height: 200px;
  border-style: solid;
  border-width: 3px 3px 3px 3px;
  border-color: black;
}

/* Contact Page */

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid white;
  border-radius: 15px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#message {
  height: 200px;
}

/* Media Query Settings */

@media screen and (max-width: 745px) {
  h1.name {
    font-size: 1em;
  }
}

@media screen and (max-width: 500px) {
  h1.name {
    font-size: 1em;
  }
  header {
    height: 15vh;
    display: flex;
    flex-flow: column;
  }
  header .nav-link {
    margin: 0px 5px 0px 0px;
  }
  .nav-link-container {
    margin: 0 auto;
  }
}
